<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>

    {% bundledcss %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">


    <title>
      {{  title  | escape }}
      {% if title %}
         | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico">

    <meta property="og:title" content="{{  title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="twitter:card" content="summary_large_image">

    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}

    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}

    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    {# Add mermaid -- start #}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>mermaid.initialize({startOnLoad:true});</script>
    {# Add mermaid -- end #}
  </head>
  <body>
 <section class="py-8 px-4 lg:px-10 bg-blue-800">
  <nav>
    <div class="flex justify-between items-center">
      <a class="text-xl text-white font-semibold" href="#">
        <img class="h-7" src="bendis-assets/logos/bendis-light.svg" alt="" width="auto">
      </a>
      <button class="navbar-burger lg:hidden">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="6" width="20" height="2" fill="white"></rect><rect x="2.5" y="11" width="20" height="2" fill="white"></rect><rect x="2.5" y="16" width="20" height="2" fill="white"></rect></svg>
      </button>
      <div class="hidden lg:block"><a class="inline-block px-4 text-white hover:text-blue-50 font-semibold" href="#">Sign in</a><a class="inline-block px-4 text-white hover:text-blue-50 font-semibold" href="#">Sign up</a></div>
    </div>
  </nav>
  <div class="hidden navbar-menu relative z-50">
    <div class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-8 bg-white border-r overflow-y-auto">
      <div class="flex items-center mb-16 pr-6">
        <a class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none" href="#">
          <img class="h-7" src="bendis-assets/logos/bendis-blue.svg" alt="" width="auto">
        </a>
      </div>
      <div>
        <ul>
          <li class="mb-1"><a class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded" href="#">About</a></li>
          <li class="mb-1"><a class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded" href="#">Company</a></li>
          <li class="mb-1"><a class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded" href="#">Services</a></li>
          <li class="mb-1"><a class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded" href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="mt-auto px-10">
        <div class="pt-6"><a class="block mb-2 py-4 text-center text-blue-800 font-semibold" href="#">Sign in</a><a class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold" href="#">Sign Up</a></div>
        <p class="mt-6 mb-4 text-sm text-center text-blue-400">
          <span>© 2021 All rights reserved © Wireframes Corporation 2021</span>
        </p>
      </div>
    </nav>
  </div>
</section>
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>

          {% if site.headerLinks %}
            <nav class="nav">
              <ul class="nav__list">
                {% for item in site.headerLinks %}
                  {% set currentAttribute = '' %}
                  {% set externalAttribute = '' %}

                  {% if item.external %}
                    {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}

                  {% if page.url == item.url %}
                    {% set currentAttribute = 'aria-current="page"' %}
                  {% endif %}

                  <li class="nav-item">
                    <a href="{{ item.url | url }}" {{ currentAttribute | safe }} {{ externalAttribute | safe }}>{{ item.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>

          {% endif %}

        </div>
      </header>

      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__content">

          <ul class="hero__social-links">
            {% if site.socialLinks %}
              {% for item in site.socialLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if site.footerLinks %}

              {% for item in site.footerLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>

          {% if site.showFooterAttribution %}
            <p class="footer__attribution">
          Created by
      <a href="https://twitter.com/yinkakun" target="_blank" rel="noopener">Yinka,</a>
       Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty,</a>
        Checkout <a href="https://github.com/yinkakun/eleventy-duo" target="_blank" rel="noopener noreferrer">project's github repo </a>
            </p>
          {% endif %}

        </div>
      </div>

    </footer>

    {% bundledjs %}
  </body>
</html>
